@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");

\* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  margin: 0;
  font-family: "Caladea", Cambria, serif;
  line-height: 1.6;
}
header {
  text-align: center;
  color: #232323;
  padding: 10px;
}

header .judul {
  /* width: 100%; */
  font-size: 4vw;
  background-color: aquamarine;
}

header .deskripsi {
  font-size: 1.1rem;
  padding: 10px;
  background-color: aqua;
  text-align: center;
}
hr {
  border: 0;
  height: 1.5px;
  background: #dedede;
}
/* bagian wrapper */
nav.menu {
  width: 100%;
}
nav.menu ul {
  display: flex;
  color: #fff;
  list-style: none;
  background: #1abc9c;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
}
nav.menu ul a {
  padding: 15px 25px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

nav.menu ul a:hover {
  text-decoration: underline;
  background: #16a085;
}
/* Bagian Konten */
.blog {
  flex: 2;
  min-width: 300px;
}
.sidebar {
  flex: 1;
  min-width: 250px;
}
.sidebar .widget {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
.sidebar .widget:hover {
  border-bottom: 2px solid #3498db;
}
.sidebar .widget h2 {
  padding: 0;
  margin: 0 0 15px;
  color: #3498db;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.sidebar .widget p {
  font-size: 14px;
}

.sidebar .widget p:last-child {
  margin: 0;
}

.conteudo {
  background: #fff;
  padding: 25px;
  margin-bottom: 25px;
  border: 1px solid #dedede;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.conteudo img {
  width: 80%; /* Gambar selalu selebar kontainer */
  height: auto;
  margin-bottom: 15px;
}
.conteudo h1 {
  padding: 0;
  margin: 0 0 5px;
  font-weight: normal;
  color: #666;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.conteudo h1 {
  padding: 0;
  margin: 0 0 15px;
  font-weight: normal;
  color: #666;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.conteudo p {
  font-size: 15px;
  line-height: 25px;
  color: #666;
  text-align: justify;
}
.conteudo p:last-child {
  margin: 0;
}
.conteudo .continue-lendo {
  color: #000;
  transition: all 0.5s ease;
  text-decoration: none;
  font-weight: 700;
}
.conteudo .continue-lendo:hover {
  margin: 10px;
}

.post-info {
  float: right;
  font-size: 12px;
  margin: -10ox 0 15px;
  text-transform: uppercase;
}
