@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");

\* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .deskripsi {
  font-size: 2vw;
  background-color: aqua;
  text-align: center;
}
body {
  background: #eee;
  margin: 0;
  font-family: "Caladea", Cambria, serif;
}
hr {
  border: 0;
  background: #dedede;
  height: 1.5px;
}
header {
  text-align: center;
  color: #232323;
  /* width: 100%; */
}

header .judul {
  /* width: 100%; */
  font-size: 4vw;
  background-color: aquamarine;
}

.warp {
  width: 950px;
  margin: 25px auto;
}

nav.menu ul {
  overflow: hidden;
  color: #fff;
  list-style: none;
  float: left;
  padding: 0;
  margin: 0 0 0;
  width: 650px;
  background: #1abc9c;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
}
nav.menu ul li {
  margin: 0;
  float: left;
}
nav.menu ul a {
  padding: 25px;
  display: block;
  font-width: 600;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
}
nav.menu ul a:hover {
  text-decoration: underline;
  background: #16a085;
}
.sidebar {
  float: right;
  width: 275px;
}
.sidebar .widget {
  padding: 25px;
  margin: 0 0 25px;
  background: #fff;
  border-bottom: 2px solid #fff;
}
.sidebar .widget:hover {
  border-bottom: 2px solid #3498db;
}
.sidebar .widget h2 {
  padding: 0;
  margin: 0 0 15px;
  color: #3498db;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.sidebar .widget p {
  font-size: 14px;
}

.sidebar .widget p:last-child {
  margin: 0;
}
.blog {
  float: left;
}

.conteudo {
  width: 600px;
  padding: 25px;
  margin: 25px auto;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
  box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}
.conteudo img {
  min-width: 650px;
  margin: 0 0 25px -25px;
  max-width: 650px;
}
