@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");

\* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .deskripsi {
  font-size: 2vw;
  background-color: aqua;
  text-align: center;
}
body {
  background: #eee;
  margin: 0;
  font-family: "Caladea", Cambria, serif;
}
hr {
  border: 0;
  background: #dedede;
  height: 1.5px;
}
header {
  text-align: center;
  color: #232323;
  width: 100%;
}

header .judul {
  width: 100%;
  font-size: 4vw;
  background-color: aquamarine;
}

.warp {
  width: 950px;
  margin: 25px auto;
}

nav.menu ul {
  overflow: hidden;
  color: #fff;
  list-style: none;
  float: left;
  padding: 0;
  width: 100%;
  background: #1abc9c;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
}
nav.menu ul li {
  margin: 0;
  float: left;
  margin-right: 10px;
}
nav.menu ul a {
  padding: 25px;
  display: block;
  font-width: 600;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
  text-align: center;
}
nav.menu ul a:hover {
  text-decoration: underline;
  background: #16a085;
}
.sidebar {
  float: right;
  width: 275px;
}
